/*=============== page layout ===============*/
html, body {
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	resize: none;
}

body {
	background-image: url("https://storage.googleapis.com/sftrees3d/mtsutro.jpg");
	background-size: auto 100%;
	background-position: -300px 0px;
	margin: 0;
}

h1 {
	margin-left: 20%;
	vertical-align: middle;
}

a {
	color: black;
}

.navlink {
	margin-left: 20%;
}

#cont-wrapper {
	padding: 0;
	position:relative;
	margin: auto;
	width: 80%;
	height: 75%;
	resize: none;
	overflow: hidden;
}

#cont {
	margin: auto;
	width: 100%;
	height: 100%;
	resize: none;
	background-color: white;
	position:relative;
	opacity: none;
}


#nav {
	margin:auto;
	width: 80%;
	height: 20%;
	resize: none;
	border-bottom: 3px solid #ccc;
	overflow: hidden;
}

#next {
	position: absolute;
	top: 49%;
	left: 91%;
	width: 8%;
	justify-content: center;
}
.nextlink {
	font-size: 150px;
	font-weight: bold;
	color: white;
	opacity: 0.9;
	text-decoration: none;
	display: none;
}

/*=============== static content ===============*/

.swap {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	margin-left: 20%;
	margin-right: 20%;
	margin-top: 10%;
	margin-bottom: 10%;
	height: 65%;
	overflow: auto;
}


.swap div {
	margin-top: 1em;
}

.swap img {
	width: 100%;
}

/*=============== preloading ===============*/

.progress-meter .background {
  fill: #ccc;
}

.progress-meter .foreground {
  fill: #000;
}

.progress-meter text {
  font-size: 24px;
  font-weight: bold;
}

/*=============== 3d map ===============*/

.infobox {
	position: absolute;
	background: rgba(255, 255, 255, 0.7);
	width: 160px;
	height: 80px;
	padding: 10px;
	justify-content: center;
	font-size: 16px;
}

#legend {
	float: left;
	left:0;
	bottom: 0;
}

#lgnd-svg {
	font-size: 10px;
}

#lgnd-heights rect {
	fill: #a8a8a8;
}

#details {
	float: right;
	right:0;
	top: 0;
	font-weight: bold;
}

.detail {
	padding-top: 5px;
}

#random {
	float: right;
	right:0;
	bottom: 0;
}
.randlink {
	color: black;
	margin-right: 2px;
}

.randlink::after {
  	content: ' ';  
}

/*=============== boxplot ===============*/
.box {
  font: 10px sans-serif;
}

.box line,
.box rect,
.box circle {
  fill: #fff;
  stroke: #000;
  stroke-width: 1.5px;
}
.box .center {
  stroke-dasharray: 3,3;
}
.box .outlier {
  fill: none;
  stroke: #ccc;
}

.dot {
	fill: none; 
	stroke: #006837;
	stroke-width: 0.2pt;
}

.y.axis {
  font-size: 12px;
}

.x.axis {
  font-size: 16px;
}
 
.y.axis path,
.y.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
 
.x.axis path { 
  display: none;
}